{
    "swagger": "2.0",
    "info": {
        "description": "This is docs of Celenium API.",
        "title": "Swagger Celenium API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.celenium.io",
    "paths": {
        "/v1/address": {
            "get": {
                "description": "List address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "List address info",
                "operationId": "list-address",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Address"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/count": {
            "get": {
                "description": "Get count of addresses in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get count of addresses in network",
                "operationId": "get-address-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}": {
            "get": {
                "description": "Get address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address info",
                "operationId": "get-address",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Address"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/blobs": {
            "get": {
                "description": "Get blobs pushed by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get blobs pushed by address",
                "operationId": "address-blobs",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.BlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/delegations": {
            "get": {
                "description": "Get delegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get delegations made by address",
                "operationId": "address-delegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show zero delegations",
                        "name": "show_zero",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Delegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/granters": {
            "get": {
                "description": "Get grants where address is grantee",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get grants where address is grantee",
                "operationId": "address-grantee",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Grant"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/grants": {
            "get": {
                "description": "Get grants made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get grants made by address",
                "operationId": "address-grants",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Grant"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/messages": {
            "get": {
                "description": "Get address messages",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address messages",
                "operationId": "address-messages",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.MessageForAddress"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/redelegations": {
            "get": {
                "description": "Get redelegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get redelegations made by address",
                "operationId": "address-redelegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Redelegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/stats/{name}/{timeframe}": {
            "get": {
                "description": "Get address stats",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address stats",
                "operationId": "address-stats",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "gas_used",
                            "gas_wanted",
                            "fee",
                            "count"
                        ],
                        "type": "string",
                        "description": "Series name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "month"
                        ],
                        "type": "string",
                        "description": "Timeframe",
                        "name": "timeframe",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.HistogramItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/txs": {
            "get": {
                "description": "Get address transactions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address transactions",
                "operationId": "address-transactions",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "success",
                            "failed"
                        ],
                        "type": "string",
                        "description": "Comma-separated status list",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block number",
                        "name": "height",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Tx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/undelegations": {
            "get": {
                "description": "Get undelegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get undelegations made by address",
                "operationId": "address-undelegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Undelegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/vesting": {
            "get": {
                "description": "Get vesting for address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get vesting for address",
                "operationId": "address-vesting",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show finished vestings delegations",
                        "name": "show_ended",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Vesting"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/blob": {
            "post": {
                "description": "Returns blob",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace blob by commitment on height",
                "operationId": "get-blob",
                "parameters": [
                    {
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "minimum": 1,
                        "description": "Block heigth",
                        "name": "height",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Blob commitment",
                        "name": "commitment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Blob"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block": {
            "get": {
                "description": "List blocks info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blocks info",
                "operationId": "list-block",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Block"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/count": {
            "get": {
                "description": "Get count of blocks in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get count of blocks in network",
                "operationId": "get-block-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}": {
            "get": {
                "description": "Get block info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block info",
                "operationId": "get-block",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Block"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/blobs": {
            "get": {
                "description": "List blobs which was pushed in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blobs which was pushed in the block",
                "operationId": "get-block-blobs",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.BlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/blobs/count": {
            "get": {
                "description": "Count of blobs which was pushed by transaction",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Count of blobs which was pushed by transaction",
                "operationId": "block-blobs-count",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/events": {
            "get": {
                "description": "Get events from begin and end of block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get events from begin and end of block",
                "operationId": "get-block-events",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Event"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/messages": {
            "get": {
                "description": "Get messages contained in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get messages contained in the block",
                "operationId": "get-block-messages",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types which should be excluded from list",
                        "name": "excluded_msg_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Message"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/namespace": {
            "get": {
                "description": "Get namespaces affected in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get namespaces affected in the block",
                "operationId": "get-block-namespaces",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.NamespaceMessage"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/namespace/count": {
            "get": {
                "description": "Get count of affected in the block namespaces",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get count of affected in the block namespaces",
                "operationId": "get-block-namespaces-count",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/stats": {
            "get": {
                "description": "Get block stats by height",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block stats by height",
                "operationId": "get-block-stats",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BlockStats"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/constants": {
            "get": {
                "description": "Get network constants",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get network constants",
                "operationId": "get-constants",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Constants"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/enums": {
            "get": {
                "description": "Get celenium enumerators",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get celenium enumerators",
                "operationId": "get-enums",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Enums"
                        }
                    }
                }
            }
        },
        "/v1/gas/estimate_for_pfb": {
            "get": {
                "description": "Get estimated gas for pay for blob message with certain values of blob sizes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas for pay for blob",
                "operationId": "gas-estimate-for-pfb",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated array of blob sizes",
                        "name": "sizes",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/gas/price": {
            "get": {
                "description": "Get estimated gas price based on historical data",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas price",
                "operationId": "gas-price",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.GasPrice"
                        }
                    }
                }
            }
        },
        "/v1/head": {
            "get": {
                "description": "Get current indexer head",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get current indexer head",
                "operationId": "head",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.State"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace": {
            "get": {
                "description": "List namespace info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "List namespace info",
                "operationId": "list-namespace",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "pfb_count",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/active": {
            "get": {
                "description": "Get last used namespace",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get last used namespace",
                "operationId": "get-namespace-active",
                "parameters": [
                    {
                        "enum": [
                            "time",
                            "pfb_count",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. Default: time",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/count": {
            "get": {
                "description": "Get count of namespaces in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get count of namespaces in network",
                "operationId": "get-namespace-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}": {
            "get": {
                "description": "Returns array of namespace versions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info",
                "operationId": "get-namespace",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}": {
            "get": {
                "description": "Returns namespace by version byte and namespace id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info by id and version",
                "operationId": "get-namespace-by-version-and-id",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Namespace"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}/blobs": {
            "get": {
                "description": "Returns blob changes for namespace",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get blob changes for namespace",
                "operationId": "get-blob-logs",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.BlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}/messages": {
            "get": {
                "description": "Returns namespace messages by version byte and namespace id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace messages by id and version",
                "operationId": "get-namespace-messages",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.NamespaceMessage"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}/rollups": {
            "get": {
                "description": "List rollups using the namespace",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "List rollups using the namespace",
                "operationId": "get-namespace-rollups",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Rollup"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace_by_hash/{hash}": {
            "get": {
                "description": "Returns namespace by base64 encoded identity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info by base64",
                "operationId": "get-namespace-base64",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Namespace"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace_by_hash/{hash}/{height}": {
            "get": {
                "description": "Returns blobs",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace blobs on height",
                "operationId": "get-namespace-blobs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block heigth",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Blob"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/rollup": {
            "get": {
                "description": "List rollups info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rollup"
                ],
                "summary": "List rollups info",
                "operationId": "list-rollup",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "blobs_count",
                            "size",
                            "\"fee\""
                        ],
                        "type": "string",
                        "description": "Sort field. Default: size",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.RollupWithStats"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/rollup/count": {
            "get": {
                "description": "Get count of rollups in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rollup"
                ],
                "summary": "Get count of rollups in network",
                "operationId": "get-rollups-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/rollup/slug/{slug}": {
            "get": {
                "description": "Get rollup by slug",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rollup"
                ],
                "summary": "Get rollup by slug",
                "operationId": "get-rollup-by-slug",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slug",
                        "name": "slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Rollup"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/rollup/{id}": {
            "get": {
                "description": "Get rollup info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rollup"
                ],
                "summary": "Get rollup info",
                "operationId": "get-rollup",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Internal identity",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Rollup"
                        }
                    },
[...]
