{
    "swagger": "2.0",
    "info": {
        "description": "This is docs of Celenium API.",
        "title": "Swagger Celenium API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.celenium.io",
    "paths": {
        "/v1/address": {
            "get": {
                "description": "List address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "List address info",
                "operationId": "list-address",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Address"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/count": {
            "get": {
                "description": "Get count of addresses in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get count of addresses in network",
                "operationId": "get-address-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}": {
            "get": {
                "description": "Get address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address info",
                "operationId": "get-address",
                "parameters": [
                    {
                        "maxLength": 48,
                        "minLength": 48,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Address"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/messages": {
            "get": {
                "description": "Get address messages",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address messages",
                "operationId": "address-messages",
                "parameters": [
                    {
                        "maxLength": 48,
                        "minLength": 48,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Message"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/address/{hash}/txs": {
            "get": {
                "description": "Get address transactions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address transactions",
                "operationId": "address-transactions",
                "parameters": [
                    {
                        "maxLength": 48,
                        "minLength": 48,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "success",
                            "failed"
                        ],
                        "type": "string",
                        "description": "Comma-separated status list",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block number",
                        "name": "height",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Tx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block": {
            "get": {
                "description": "List blocks info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blocks info",
                "operationId": "list-block",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Block"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/count": {
            "get": {
                "description": "Get count of blocks in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get count of blocks in network",
                "operationId": "get-block-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}": {
            "get": {
                "description": "Get block info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block info",
                "operationId": "get-block",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Block"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/events": {
            "get": {
                "description": "Get events from begin and end of block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get events from begin and end of block",
                "operationId": "get-block-events",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Event"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/messages": {
            "get": {
                "description": "Get messages contained in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get messages contained in the block",
                "operationId": "get-block-messages",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types which should be excluded from list",
                        "name": "excluded_msg_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Message"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/namespace": {
            "get": {
                "description": "Get namespaces affected in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get namespaces affected in the block",
                "operationId": "get-block-namespaces",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.NamespaceMessage"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/namespace/count": {
            "get": {
                "description": "Get count of affected in the block namespaces",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get count of affected in the block namespaces",
                "operationId": "get-block-namespaces-count",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/block/{height}/stats": {
            "get": {
                "description": "Get block stats by height",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block stats by height",
                "operationId": "get-block-stats",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BlockStats"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/constants": {
            "get": {
                "description": "Get network constants",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get network constants",
                "operationId": "get-constants",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Constants"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/gas/estimate_for_pfb": {
            "get": {
                "description": "Get estimated gas for pay for blob message with certain values of blob sizes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas for pay for blob",
                "operationId": "gas-estimate-for-pfb",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated array of blob sizes",
                        "name": "sizes",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/head": {
            "get": {
                "description": "Get current indexer head",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get current indexer head",
                "operationId": "head",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.State"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace": {
            "get": {
                "description": "List namespace info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "List namespace info",
                "operationId": "list-namespace",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/active": {
            "get": {
                "description": "Get last used namespace",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get last used namespace",
                "operationId": "get-namespace-active",
                "parameters": [
                    {
                        "enum": [
                            "time",
                            "pfb_count",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/count": {
            "get": {
                "description": "Get count of namespaces in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get count of namespaces in network",
                "operationId": "get-namespace-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}": {
            "get": {
                "description": "Returns array of namespace versions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info",
                "operationId": "get-namespace",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Namespace"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}": {
            "get": {
                "description": "Returns namespace by version byte and namespace id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info by id and version",
                "operationId": "get-namespace-by-version-and-id",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Namespace"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace/{id}/{version}/messages": {
            "get": {
                "description": "Returns namespace messages by version byte and namespace id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace messages by id and version",
                "operationId": "get-namespace-messages",
                "parameters": [
                    {
                        "maxLength": 56,
                        "minLength": 56,
                        "type": "string",
                        "description": "Namespace id in hexadecimal",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Version of namespace",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.NamespaceMessage"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace_by_hash/{hash}": {
            "get": {
                "description": "Returns namespace by base64 encoded identity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace info by base64",
                "operationId": "get-namespace-base64",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Namespace"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace_by_hash/{hash}/{height}": {
            "get": {
                "description": "Returns blobs",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace blobs on height",
                "operationId": "get-namespace-blobs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block heigth",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Blob"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/namespace_by_hash/{hash}/{height}/{commitment}": {
            "get": {
                "description": "Returns blob",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace blob by commitment on height",
                "operationId": "get-namespace-blob",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Base64-encoded namespace id and version",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block heigth",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Blob commitment",
                        "name": "commitment",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Blob"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/search": {
            "get": {
                "description": "Endpoint finds entity by hash (block, address, namespace and tx)\n\n### Block\n\nBlock will be found by its hash. Hash example: `652452A670018D629CC116E510BA88C1CABE061336661B1F3D206D248BD558AF`.\nHash should be hexadecimal and has a length of 64.\n\n#### Example response \n\n```json\n{\n    \"type\": \"block\",\n    \"result\": {\n        \"id\": 1,\n        \"hash\": \"652452A670018D629CC116E510BA88C1CABE061336661B1F3D206D248BD558AF\",\n        // ... rest fields from response.Block type\n    }\n}\n```\n\n### Tx\n\nTx will be found by its hash. Hash example: `652452A670018D629CC116E510BA88C1CABE061336661B1F3D206D248BD558AF`.\nTx should be hexadecimal and has a length of 64.\n\n#### Example response \n\n```json\n{\n    \"type\": \"tx\",\n    \"result\": {\n        \"id\": 1,\n        \"hash\": \"652452A670018D629CC116E510BA88C1CABE061336661B1F3D206D248BD558AF\",\n        // ... rest fields from response.Tx type\n    }\n}\n```\n\n### Address\n\nThe Address will be found by its hash.\nHash example: `celestia1jc92qdnty48pafummfr8ava2tjtuhfdw774w60`.\nAddress has prefix `celestia` and has length 47.\nAlso, it should be decoded by `bech32`.\n\n#### Example response \n\n```json\n{\n    \"type\": \"address\",\n    \"result\": {\n        \"id\": 1,\n        \"hash\": \"celestia1jc92qdnty48pafummfr8ava2tjtuhfdw774w60\",\n        \"height\": 100,\n        \"balance\": \"6525472354\"\n    }\n}\n```\n\n### Namespace\n\nNamespace can be found by base64 hash and identity pair version + namespace id. \nHash example: `U3dhZ2dlciByb2Nrcw==`. \nIdentity pair example: `014723ce10b187716adfc55ff7e6d9179c226e6b5440b02577cca49d02`\n\n#### Example response \n\n```json\n{\n    \"type\": \"namespace\",\n    \"result\": {\n        \"id\": 1,\n        \"hash\": \"U3dhZ2dlciByb2Nrcw==\",\n        \"version\": 1,\n        \"namespace_id\": \"4723ce10b187716adfc55ff7e6d9179c226e6b5440b02577cca49d02\"\n        // ... rest fields from response.Namespace type\n    }\n}\n```\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "search"
                ],
                "summary": "Search by hash",
                "operationId": "search",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search string",
                        "name": "query",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchResponse-responses_Searchable"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/histogram/{table}/{function}/{timeframe}": {
            "get": {
                "description": "Returns histogram by table, function and timeframe\n\n### Parameters\n\n`table`, `function` and `column` parameters are the same as summary endpoint.\n\n\n### Timeframe\n\n* `hour`\n* `day`\n* `week`\n* `month`\n* `year`",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get histogram",
                "operationId": "stats-histogram",
                "parameters": [
                    {
                        "enum": [
                            "block",
                            "block_stats",
                            "tx",
                            "event",
                            "message"
                        ],
                        "type": "string",
                        "description": "Table name",
                        "name": "table",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "min",
                            "max",
                            "avg",
                            "sum",
                            "count"
                        ],
                        "type": "string",
                        "description": "Function name",
                        "name": "function",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                        ],
                        "type": "string",
                        "description": "Timeframe",
                        "name": "timeframe",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Column name which will be used for computation. Optional for count",
                        "name": "column",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.HistogramItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/namespace/usage": {
            "get": {
                "description": "Get namespaces with sorting by size. Returns top 100 namespaces. Namespaces which is not included to top 100 grouped into 'others' item",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get namespaces with sorting by size.",
                "operationId": "stats-namespace-usage",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.NamespaceUsage"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/series/{name}/{timeframe}": {
            "get": {
                "description": "Get histogram with precomputed stats by series name and timeframe",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get histogram with precomputed stats",
                "operationId": "stats-series",
                "parameters": [
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                        ],
                        "type": "string",
                        "description": "Timeframe",
                        "name": "timeframe",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "blobs_size",
                            "tps",
                            "bps",
                            "fee",
                            "supply_change",
                            "block_time",
                            "tx_count",
                            "events_count",
                            "gas_price",
                            "gas_efficiency",
                            "gas_used",
                            "gas_limit"
                        ],
                        "type": "string",
                        "description": "Series name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.SeriesItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/summary/{table}/{function}": {
            "get": {
                "description": "Returns string value by passed table and function.\n\n### Availiable tables\n* `block`\n* `block_stats`\n* `tx`\n* `message`\n* `event`\n\n\n### Availiable functions\n* `sum`\n* `min`\n* `max`\n* `avg`\n* `count`\n\n\n`Column` query parameter is required for functions `sum`, `min`, `max` and `avg` and should not pass for `count`.\n\n\n###  Availiable columns and functions for tables:\n\n#### Block\n* `height`         -- min max\n* `time`           -- min max\n\n#### Block stats\n* `height`         -- min max\n* `time`           -- min max\n* `tx_count`       -- min max sum avg\n* `events_count`   -- min max sum avg\n* `blobs_size`     -- min max sum avg\n* `block_time`     -- min max sum avg\n* `supply_chnge`   -- min max sum avg\n* `inflation_rate` -- min max avg\n* `fee`            -- min max sum avg\n\n#### Tx\n* `height`         -- min max\n* `time`           -- min max\n* `gas_wanted`     -- min max sum avg\n* `gas_used`       -- min max sum avg\n* `timeout_height` -- min max avg\n* `events_count`   -- min max sum avg\n* `messages_count` -- min max sum avg\n* `fee`            -- min max sum avg\n\n#### Event\n* `height`         -- min max\n* `time`           -- min max\n\n#### Message\n* `height`         -- min max\n* `time`           -- min max",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get value by table and function",
                "operationId": "stats-summary",
                "parameters": [
                    {
                        "enum": [
                            "block",
                            "block_stats",
                            "tx",
                            "event",
                            "message",
                            "validator"
                        ],
                        "type": "string",
                        "description": "Table name",
                        "name": "table",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "min",
                            "max",
                            "avg",
                            "sum",
                            "count"
                        ],
                        "type": "string",
                        "description": "Function name",
                        "name": "function",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Column name which will be used for computation. Optional for count.",
                        "name": "column",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/tps": {
            "get": {
                "description": "Returns transaction per seconds statistics",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get tps",
                "operationId": "stats-tps",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.TPS"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/stats/tx_count_24h": {
            "get": {
                "description": "Get tx count histogram for last 24 hours by hour",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get tx count histogram for last 24 hours by hour",
                "operationId": "stats-tx-count-24h",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.TxCountHistogramItem"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx": {
            "get": {
                "description": "List transactions info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "List transactions info",
                "operationId": "list-transactions",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "success",
                            "failed"
                        ],
                        "type": "string",
                        "description": "Comma-separated status list",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list which should be excluded",
                        "name": "excluded_msg_type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Block number",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "If true join messages",
                        "name": "messages",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Tx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx/count": {
            "get": {
                "description": "Get count of transactions in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "Get count of transactions in network",
                "operationId": "get-transactions-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx/genesis": {
            "get": {
                "description": "List genesis transactions info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "List genesis transactions info",
                "operationId": "list-genesis -transactions",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Tx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx/{hash}": {
            "get": {
                "description": "Get transaction by hash",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "Get transaction by hash",
                "operationId": "get-transaction",
                "parameters": [
                    {
                        "maxLength": 64,
                        "minLength": 64,
                        "type": "string",
                        "description": "Transaction hash in hexadecimal",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Tx"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx/{hash}/events": {
            "get": {
                "description": "Get transaction events",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "Get transaction events",
                "operationId": "get-transaction-events",
                "parameters": [
                    {
                        "maxLength": 64,
                        "minLength": 64,
                        "type": "string",
                        "description": "Transaction hash in hexadecimal",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Event"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/tx/{hash}/messages": {
            "get": {
                "description": "Get transaction messages",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "Get transaction messages",
                "operationId": "get-transaction-messages",
                "parameters": [
                    {
                        "maxLength": 64,
                        "minLength": 64,
                        "type": "string",
                        "description": "Transaction hash in hexadecimal",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Message"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/v1/ws": {
            "get": {
                "description": "## Documentation for websocket API\n\n### Subscribe\n\nTo receive updates from websocket API send `subscribe` request to server.\n\n```json\n{\n    \"method\": \"subscribe\",\n    \"body\": {\n        \"channel\": \"\u003cCHANNEL_NAME\u003e\",\n        \"filters\": {\n            // pass channel filters\n        }\n    }\n}\n```\n\nNow 2 channels are supported:\n\n* `head` - receive information about new block. Channel does not have any filters. Subscribe message should looks like:\n\n```json\n{\n    \"method\": \"subscribe\",\n    \"body\": {\n        \"channel\": \"head\"\n    }\n}\n```\n\nIn that channel messages of `responses.Block` type will be sent.\n\n* `tx` - receive information about new transactions. The channel has filters for target receiving information. Now 2 filters are supported:\n\n```json\n{\n    \"method\": \"subscribe\",\n    \"body\": {\n        \"channel\": \"tx\",\n        \"filters\": {\n            \"status\": [  // array of transaction status. Can be emtpy.\n                types.Status\n            ],\n            \"msg_type\": [  // array of containing message types status. Can be emtpy.\n                types.MsgType\n            ]\n        }\n    }\n}\n```\n\nIf all filers are empty subscription to all transaction will be created.\n\nIn that channel messages of `responses.Tx` type will be sent.\n\n\n### Unsubscribe\n\nTo unsubscribe send `unsubscribe` message containing one of channel name describing above.\n\n\n```json\n{\n    \"method\": \"unsubscribe\",\n    \"body\": {\n        \"channel\": \"\u003cCHANNEL_NAME\u003e\",\n    }\n}\n```\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "websocket"
                ],
                "summary": "Websocket API",
                "operationId": "websocket",
                "responses": {}
            }
        }
    },
    "definitions": {
        "SearchResponse-responses_Searchable": {
            "type": "object",
            "properties": {
                "result": {
                    "description": "Search result. Can be one of folowwing types: Block, Address, Namespace, Tx",
                    "type": "object"
                },
                "type": {
                    "description": "Result type which is in the result. Can be 'block', 'address', 'namespace', 'tx'",
                    "type": "string"
                }
            }
        },
        "github_com_celenium-io_celestia-indexer_internal_storage_types.Status": {
            "type": "string",
            "enum": [
                "success",
                "failed"
            ],
            "x-enum-varnames": [
                "StatusSuccess",
                "StatusFailed"
            ]
        },
        "handler.Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "responses.Address": {
            "description": "Celestia address information",
            "type": "object",
            "properties": {
                "balance": {
                    "$ref": "#/definitions/responses.Balance"
                },
                "first_height": {
                    "type": "integer",
                    "example": 100
                },
                "hash": {
                    "type": "string",
                    "example": "celestia1jc92qdnty48pafummfr8ava2tjtuhfdw774w60"
                },
                "id": {
                    "type": "integer",
                    "example": 321
                },
                "last_height": {
                    "type": "integer",
                    "example": 100
                }
            }
        },
        "responses.Balance": {
            "description": "Balance of address information",
            "type": "object",
            "properties": {
                "currency": {
                    "type": "string",
                    "example": "utia"
                },
                "value": {
                    "type": "string",
                    "example": "10000000000"
                }
            }
        },
        "responses.Blob": {
            "type": "object",
            "properties": {
                "commitment": {
                    "type": "string",
                    "format": "base64",
                    "example": "vbGakK59+Non81TE3ULg5Ve5ufT9SFm/bCyY+WLR3gg="
                },
                "content_type": {
                    "type": "string",
                    "format": "string",
                    "example": "image/png"
                },
                "data": {
                    "type": "string",
                    "format": "base64",
                    "example": "b2sgZGVtbyBkYQ=="
                },
                "namespace": {
                    "type": "string",
                    "format": "base64",
                    "example": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAs2bWWU6FOB0="
                },
                "share_version": {
                    "type": "integer",
                    "format": "integer",
                    "example": 0
                }
            }
        },
        "responses.Block": {
            "type": "object",
            "properties": {
                "app_hash": {
                    "type": "string",
                    "example": "652452A670018D629CC116E510BA88C1CABE061336661B1F3D206D248BD558AF"
                },
[...]
