{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Celenium API is a powerful tool to access all blockchain data that is processed and indexed by our proprietary indexer. With Celenium API you can retrieve all historical data, off-chain data, blobs and statistics through our REST API. Celenium API indexer are open source, which allows you to not depend on third-party services. You can clone, build and run them independently, giving you full control over all components. If you have any questions or feature requests, please feel free to contact us. We appreciate your feedback!",
        "title": "Celenium API",
        "contact": {
            "name": "Support",
            "url": "https://discord.gg/3k83Przqk8",
            "email": "celenium@pklabs.me"
        },
        "version": "1.0"
    },
    "host": "api-mainnet.celenium.io",
    "basePath": "/v1",
    "paths": {
        "/address": {
            "get": {
                "description": "List address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "List address info",
                "operationId": "list-address",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "id",
                            "delegated",
                            "spendable",
                            "unbonding",
                            "first_height",
                            "last_height"
                        ],
                        "type": "string",
                        "description": "Sort field",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Address"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/count": {
            "get": {
                "description": "Get count of addresses in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get count of addresses in network",
                "operationId": "get-address-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}": {
            "get": {
                "description": "Get address info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address info",
                "operationId": "get-address",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Address"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/blobs": {
            "get": {
                "description": "Get blobs pushed by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get blobs pushed by address",
                "operationId": "address-blobs",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Flag indicating whether entities of transaction and namespace should be attached or not. Default: true",
                        "name": "joins",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.BlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/celestials": {
            "get": {
                "description": "Get list of celestial id for address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get list of celestial id for address",
                "operationId": "address-celestials",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Celestial"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/delegations": {
            "get": {
                "description": "Get delegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get delegations made by address",
                "operationId": "address-delegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show zero delegations",
                        "name": "show_zero",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Delegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/granters": {
            "get": {
                "description": "Get grants where address is grantee",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get grants where address is grantee",
                "operationId": "address-grantee",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Grant"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/grants": {
            "get": {
                "description": "Get grants made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get grants made by address",
                "operationId": "address-grants",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Grant"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/messages": {
            "get": {
                "description": "Get address messages",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address messages",
                "operationId": "address-messages",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgRecoverClient",
                            "MsgIBCSoftwareUpgrade",
                            "MsgUpdateParams",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement",
                            "MsgSignalVersion",
                            "MsgTryUpgrade",
                            "MsgCreateMailbox",
                            "MsgProcessMessage",
                            "MsgSetMailbox",
                            "MsgCreateCollateralToken",
                            "MsgCreateSyntheticToken",
                            "MsgSetToken",
                            "MsgEnrollRemoteRouter",
                            "MsgUnrollRemoteRouter",
                            "MsgRemoteTransfer",
                            "MsgUpdateMinfeeParams",
                            "MsgCreateIgp",
                            "MsgSetIgpOwner",
                            "MsgSetDestinationGasConfig",
                            "MsgPayForGas",
                            "MsgClaim",
                            "MsgCreateMerkleTreeHook",
                            "MsgCreateNoopHook",
                            "MsgCreateMessageIdMultisigIsm",
                            "MsgCreateMerkleRootMultisigIsm",
                            "MsgCreateNoopIsm",
                            "MsgAnnounceValidator",
                            "MsgCreateRoutingIsm",
                            "MsgSetRoutingIsmDomain",
                            "MsgRemoveRoutingIsmDomain",
                            "MsgUpdateRoutingIsmOwner",
                            "MsgUpdateBlobParams",
                            "MsgPruneExpiredGrants",
                            "MsgSetSendEnabled",
                            "MsgAuthorizeCircuitBreaker",
                            "MsgResetCircuitBreaker",
                            "MsgTripCircuitBreaker",
                            "MsgModuleQuerySafe"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.MessageForAddress"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/redelegations": {
            "get": {
                "description": "Get redelegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get redelegations made by address",
                "operationId": "address-redelegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Redelegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/stats/{name}/{timeframe}": {
            "get": {
                "description": "Get address stats",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address stats",
                "operationId": "address-stats",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "gas_used",
                            "gas_wanted",
                            "fee",
                            "tx_count"
                        ],
                        "type": "string",
                        "description": "Series name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "month"
                        ],
                        "type": "string",
                        "description": "Timeframe",
                        "name": "timeframe",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.HistogramItem"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/txs": {
            "get": {
                "description": "Get address transactions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address transactions",
                "operationId": "address-transactions",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "success",
                            "failed"
                        ],
                        "type": "string",
                        "description": "Comma-separated status list",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgRecoverClient",
                            "MsgIBCSoftwareUpgrade",
                            "MsgUpdateParams",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement",
                            "MsgSignalVersion",
                            "MsgTryUpgrade",
                            "MsgCreateMailbox",
                            "MsgProcessMessage",
                            "MsgSetMailbox",
                            "MsgCreateCollateralToken",
                            "MsgCreateSyntheticToken",
                            "MsgSetToken",
                            "MsgEnrollRemoteRouter",
                            "MsgUnrollRemoteRouter",
                            "MsgRemoteTransfer",
                            "MsgUpdateMinfeeParams",
                            "MsgCreateIgp",
                            "MsgSetIgpOwner",
                            "MsgSetDestinationGasConfig",
                            "MsgPayForGas",
                            "MsgClaim",
                            "MsgCreateMerkleTreeHook",
                            "MsgCreateNoopHook",
                            "MsgCreateMessageIdMultisigIsm",
                            "MsgCreateMerkleRootMultisigIsm",
                            "MsgCreateNoopIsm",
                            "MsgAnnounceValidator",
                            "MsgCreateRoutingIsm",
                            "MsgSetRoutingIsmDomain",
                            "MsgRemoveRoutingIsmDomain",
                            "MsgUpdateRoutingIsmOwner",
                            "MsgUpdateBlobParams",
                            "MsgPruneExpiredGrants",
                            "MsgSetSendEnabled",
                            "MsgAuthorizeCircuitBreaker",
                            "MsgResetCircuitBreaker",
                            "MsgTripCircuitBreaker",
                            "MsgModuleQuerySafe"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block number",
                        "name": "height",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Tx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/undelegations": {
            "get": {
                "description": "Get undelegations made by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get undelegations made by address",
                "operationId": "address-undelegations",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Undelegation"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/vestings": {
            "get": {
                "description": "Get vesting for address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get vesting for address",
                "operationId": "address-vesting",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show finished vestings delegations",
                        "name": "show_ended",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Vesting"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/address/{hash}/votes": {
            "get": {
                "description": "Get list of votes for address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get list of votes for address",
                "operationId": "address-votes",
                "parameters": [
                    {
                        "maxLength": 47,
                        "minLength": 47,
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Vote"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blob": {
            "get": {
                "description": "Returns blobs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "List all blobs with filters",
                "operationId": "get-blobs",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Commitment value in URLbase64 format",
                        "name": "commitment",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time from in unix timestamp",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Time to in unix timestamp",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated celestia addresses",
                        "name": "signers",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated celestia namespaces",
                        "name": "namespaces",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Last entity id which is used for cursor pagination",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.LightBlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            },
            "post": {
                "description": "Returns blob.\nTo authorize your requests you have to select the required tariff on our site. Then you receive api key to authorize. Api key should be passed via request header `apikey`.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get namespace blob by commitment on height",
                "operationId": "get-blob",
                "parameters": [
                    {
                        "description": "Request body containing height, commitment and namespace hash",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.postBlobRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Blob"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blob/metadata": {
            "post": {
                "description": "Returns blob metadata\nTo authorize your requests you have to select the required tariff on our site. Then you receive api key to authorize. Api key should be passed via request header `apikey`.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get blob metadata by commitment on height",
                "operationId": "get-blob-metadata",
                "parameters": [
                    {
                        "description": "Request body containing height, commitment and namespace hash",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.postBlobRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BlobLog"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blob/proofs": {
            "get": {
                "description": "Returns blob inclusion proofs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "namespace"
                ],
                "summary": "Get blob inclusion proofs",
                "operationId": "get-blob-proof",
                "parameters": [
                    {
                        "description": "Request body containing height, commitment and namespace hash",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.postBlobRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BlobLog"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block": {
            "get": {
                "description": "List blocks info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blocks info",
                "operationId": "list-block",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Block"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/count": {
            "get": {
                "description": "Get count of blocks in network",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get count of blocks in network",
                "operationId": "get-block-count",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}": {
            "get": {
                "description": "Get block info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block info",
                "operationId": "get-block",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Need join stats for block",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Block"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}/blobs": {
            "get": {
                "description": "List blobs which was pushed in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blobs which was pushed in the block",
                "operationId": "get-block-blobs",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "time",
                            "size"
                        ],
                        "type": "string",
                        "description": "Sort field. If it's empty internal id is used",
                        "name": "sort_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.BlobLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}/blobs/count": {
            "get": {
                "description": "Count of blobs which was pushed by transaction",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Count of blobs which was pushed by transaction",
                "operationId": "block-blobs-count",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}/events": {
            "get": {
                "description": "Get events from begin and end of block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get events from begin and end of block",
                "operationId": "get-block-events",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Event"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}/messages": {
            "get": {
                "description": "Get messages contained in the block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get messages contained in the block",
                "operationId": "get-block-messages",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgRecoverClient",
                            "MsgIBCSoftwareUpgrade",
                            "MsgUpdateParams",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement",
                            "MsgSignalVersion",
                            "MsgTryUpgrade",
                            "MsgCreateMailbox",
                            "MsgProcessMessage",
                            "MsgSetMailbox",
                            "MsgCreateCollateralToken",
                            "MsgCreateSyntheticToken",
                            "MsgSetToken",
                            "MsgEnrollRemoteRouter",
                            "MsgUnrollRemoteRouter",
                            "MsgRemoteTransfer",
                            "MsgUpdateMinfeeParams",
                            "MsgCreateIgp",
                            "MsgSetIgpOwner",
                            "MsgSetDestinationGasConfig",
                            "MsgPayForGas",
                            "MsgClaim",
                            "MsgCreateMerkleTreeHook",
                            "MsgCreateNoopHook",
                            "MsgCreateMessageIdMultisigIsm",
                            "MsgCreateMerkleRootMultisigIsm",
                            "MsgCreateNoopIsm",
                            "MsgAnnounceValidator",
                            "MsgCreateRoutingIsm",
                            "MsgSetRoutingIsmDomain",
                            "MsgRemoveRoutingIsmDomain",
                            "MsgUpdateRoutingIsmOwner",
                            "MsgUpdateBlobParams",
                            "MsgPruneExpiredGrants",
                            "MsgSetSendEnabled",
                            "MsgAuthorizeCircuitBreaker",
                            "MsgResetCircuitBreaker",
                            "MsgTripCircuitBreaker",
                            "MsgModuleQuerySafe"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types list",
                        "name": "msg_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "MsgUnknown",
                            "MsgSetWithdrawAddress",
                            "MsgWithdrawDelegatorReward",
                            "MsgWithdrawValidatorCommission",
                            "MsgFundCommunityPool",
                            "MsgCreateValidator",
                            "MsgEditValidator",
                            "MsgDelegate",
                            "MsgBeginRedelegate",
                            "MsgUndelegate",
                            "MsgCancelUnbondingDelegation",
                            "MsgUnjail",
                            "MsgSend",
                            "MsgMultiSend",
                            "MsgCreateVestingAccount",
                            "MsgCreatePermanentLockedAccount",
                            "MsgCreatePeriodicVestingAccount",
                            "MsgPayForBlobs",
                            "MsgGrant",
                            "MsgExec",
                            "MsgRevoke",
                            "MsgGrantAllowance",
                            "MsgRevokeAllowance",
                            "MsgRegisterEVMAddress",
                            "MsgSubmitProposal",
                            "MsgExecLegacyContent",
                            "MsgVote",
                            "MsgVoteWeighted",
                            "MsgDeposit",
                            "IBCTransfer",
                            "MsgVerifyInvariant",
                            "MsgSubmitEvidence",
                            "MsgSendNFT",
                            "MsgCreateGroup",
                            "MsgUpdateGroupMembers",
                            "MsgUpdateGroupAdmin",
                            "MsgUpdateGroupMetadata",
                            "MsgCreateGroupPolicy",
                            "MsgUpdateGroupPolicyAdmin",
                            "MsgCreateGroupWithPolicy",
                            "MsgUpdateGroupPolicyDecisionPolicy",
                            "MsgUpdateGroupPolicyMetadata",
                            "MsgSubmitProposalGroup",
                            "MsgWithdrawProposal",
                            "MsgVoteGroup",
                            "MsgExecGroup",
                            "MsgLeaveGroup",
                            "MsgSoftwareUpgrade",
                            "MsgCancelUpgrade",
                            "MsgRegisterInterchainAccount",
                            "MsgSendTx",
                            "MsgRegisterPayee",
                            "MsgRegisterCounterpartyPayee",
                            "MsgPayPacketFee",
                            "MsgPayPacketFeeAsync",
                            "MsgTransfer",
                            "MsgCreateClient",
                            "MsgUpdateClient",
                            "MsgUpgradeClient",
                            "MsgSubmitMisbehaviour",
                            "MsgRecoverClient",
                            "MsgIBCSoftwareUpgrade",
                            "MsgUpdateParams",
                            "MsgConnectionOpenInit",
                            "MsgConnectionOpenTry",
                            "MsgConnectionOpenAck",
                            "MsgConnectionOpenConfirm",
                            "MsgChannelOpenInit",
                            "MsgChannelOpenTry",
                            "MsgChannelOpenAck",
                            "MsgChannelOpenConfirm",
                            "MsgChannelCloseInit",
                            "MsgChannelCloseConfirm",
                            "MsgRecvPacket",
                            "MsgTimeout",
                            "MsgTimeoutOnClose",
                            "MsgAcknowledgement",
                            "MsgSignalVersion",
                            "MsgTryUpgrade",
                            "MsgCreateMailbox",
                            "MsgProcessMessage",
                            "MsgSetMailbox",
                            "MsgCreateCollateralToken",
                            "MsgCreateSyntheticToken",
                            "MsgSetToken",
                            "MsgEnrollRemoteRouter",
                            "MsgUnrollRemoteRouter",
                            "MsgRemoteTransfer",
                            "MsgUpdateMinfeeParams",
                            "MsgCreateIgp",
                            "MsgSetIgpOwner",
                            "MsgSetDestinationGasConfig",
                            "MsgPayForGas",
                            "MsgClaim",
                            "MsgCreateMerkleTreeHook",
                            "MsgCreateNoopHook",
                            "MsgCreateMessageIdMultisigIsm",
                            "MsgCreateMerkleRootMultisigIsm",
                            "MsgCreateNoopIsm",
                            "MsgAnnounceValidator",
                            "MsgCreateRoutingIsm",
                            "MsgSetRoutingIsmDomain",
                            "MsgRemoveRoutingIsmDomain",
                            "MsgUpdateRoutingIsmOwner",
                            "MsgUpdateBlobParams",
                            "MsgPruneExpiredGrants",
                            "MsgSetSendEnabled",
                            "MsgAuthorizeCircuitBreaker",
                            "MsgResetCircuitBreaker",
                            "MsgTripCircuitBreaker",
                            "MsgModuleQuerySafe"
                        ],
                        "type": "string",
                        "description": "Comma-separated message types which should be excluded from list",
                        "name": "excluded_msg_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Message"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/block/{height}/ods": {
            "get": {
                "description": "ODS for block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "ODS for block",
                "operationId": "block-ods",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.ODS"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                },
                "x-internal": true
            }
        },
        "/block/{height}/stats": {
            "get": {
                "description": "Get block stats by height",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block stats by height",
                "operationId": "get-block-stats",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Block height",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BlockStats"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/constants": {
            "get": {
                "description": "Get network constants",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get network constants",
                "operationId": "get-constants",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Constants"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/enums": {
            "get": {
                "description": "Get celenium enumerators",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get celenium enumerators",
                "operationId": "get-enums",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.Enums"
                        }
                    }
                }
            }
        },
        "/gas/estimate_for_pfb": {
            "get": {
                "description": "Get estimated gas for pay for blob message with certain values of blob sizes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas for pay for blob",
                "operationId": "gas-estimate-for-pfb",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated array of blob sizes",
                        "name": "sizes",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated array of share versions. Default is 0",
                        "name": "versions",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/gas/price": {
            "get": {
                "description": "Get estimated gas price based on historical data",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas price",
                "operationId": "gas-price",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.GasPrice"
                        }
                    }
                }
            }
        },
        "/gas/price/{priority}": {
            "get": {
                "description": "Get estimated gas price with priority filter based on historical data",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "gas"
                ],
                "summary": "Get estimated gas price with priority filter",
                "operationId": "gas-price-priority",
                "parameters": [
                    {
                        "enum": [
                            "slow",
                            "median",
                            "fast"
                        ],
                        "type": "string",
                        "description": "Priority",
                        "name": "priority",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/head": {
            "get": {
                "description": "Get current indexer head",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get current indexer head",
                "operationId": "head",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.State"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/hyperlane/domains": {
            "get": {
                "description": "List hyperlane domains info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "hyperlane"
                ],
                "summary": "List hyperlane domains info",
                "operationId": "list-hyperlane-domains",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.DomainMetadata"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/hyperlane/igp": {
            "get": {
                "description": "List hyperlane Interchain Gas Paymaster (IGP)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "hyperlane"
                ],
                "summary": "List hyperlane Interchain Gas Paymaster (IGP)",
                "operationId": "list-hyperlane-igps",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "Sort order. Default: desc",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.HyperlaneIgp"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/hyperlane/igp/{id}": {
            "get": {
                "description": "Get IGP by id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "hyperlane"
                ],
                "summary": "Get IGP by id",
                "operationId": "get-hyperlane-igp",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Internal identity",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.HyperlaneIgp"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/hyperlane/mailbox": {
            "get": {
                "description": "List hyperlane mailboxes info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "hyperlane"
                ],
                "summary": "List hyperlane mailboxes info",
                "operationId": "list-hyperlane-mailbox",
                "parameters": [
                    {
                        "maximum": 100,
                        "type": "integer",
                        "description": "Count of requested entities",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.HyperlaneMailbox"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
[...]
