version: 0.0.1

log_level: ${LOG_LEVEL:-info}

indexer:
  name: ${INDEXER_NAME:-dipdup_celestia_indexer}
  threads_count: ${INDEXER_THREADS_COUNT:-1}
  block_period: ${INDEXER_BLOCK_PERIOD:-15} # seconds
  scripts_dir: ${INDEXER_SCRIPTS_DIR:-./database}

database:
  kind: postgres
  host: ${POSTGRES_HOST:-db}
  port: ${POSTGRES_PORT:-5432}
  user: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}
  database: ${POSTGRES_DB:-celestia}

datasources:
  node_rpc:
    kind: celestia_node_rpc
    url: ${CELESTIA_NODE_URL}
    rps: ${CELESTIA_NODE_RPS:-5}
    timeout: ${CELESTIA_NODE_TIMEOUT:-10}
  node_ws:
    kind: celestia_node_ws
    url: ${CELESTIA_NODE_WS_URL}
  dal_api:
    kind: celestia_api
    url: ${CELESTIA_DAL_API_URL}
    rps: ${CELESTIA_DAL_API_RPS:-5}
    timeout: ${CELESTIA_DAL_API_TIMEOUT:-10}
  binance:
    kind: binance
    url: ${BINANCE_API_URL:-https://api.binance.com/}
    rps: ${BINANCE_API_RPS:-5}
    timeout: ${BINANCE_API_TIMEOUT:-10}
  l2beat:
    kind: l2beat_api
    url: ${L2BEAT_API_URL:-https://l2beat.com/api/}
    rps: ${L2BEAT_API_RPS:-5}
    timeout: ${L2BEAT_API_TIMEOUT:-10}
  lama:
    kind: lama_api
    url: ${LAMA_API_URL:-https://api.llama.fi/}
    rps: ${LAMA_API_RPS:-5}
    timeout: ${LAMA_API_TIMEOUT:-10}
  celestials:
    kind: celestials
    url: ${CELESTIALS_API_URL:-https://api.stage.celestials.id}
    rps: ${CELESTIALS_API_RPS:-5}
    timeout: ${CELESTIALS_API_TIMEOUT:-10}

api:
  bind: ${API_HOST:-0.0.0.0}:${API_PORT:-9876}
  rate_limit: ${API_RATE_LIMIT:-0}
  prometheus: ${API_PROMETHEUS_ENABLED:-true}
  request_timeout: ${API_REQUEST_TIMEOUT:-30}
  blob_receiver: ${BLOB_RECEIVER:-dal_api}
  sentry_dsn: ${SENTRY_DSN}
  websocket: ${API_WEBSOCKET_ENABLED:-true}

environment: ${CELENIUM_ENV:-production}

profiler:
  server: ${PROFILER_SERVER}
  project: celestia
