#on: pull_request
on: workflow_dispatch

jobs:
  license-check:
    runs-on: ubuntu-latest
    name: License Check
    steps:
      - uses: actions/checkout@v4
      - uses: LavyshAlexander/go-licenses-action@46ff6dea75572b9eb60f6ccb7b600e959b79047c
        with:
          allowed-licenses: MIT,Apache-1.0,Apache-1.1,Apache-2.0,BSD-2-Clause-FreeBSD,BSD-2-Clause-NetBSD,BSD-2-Clause,BSD-3-Clause-Attribution,BSD-3-Clause-Clear,BSD-3-Clause-LBNL,BSD-3-Clause,BSD-4-Clause,BSD-4-Clause-UC,BSD-Protection,ISC,LGPL-2.0,LGPL-2.1,LGPL-3.0,LGPLLR,MPL-1.0,MPL-1.1,MPL-2.0,Unlicense
          ignore: github.com/ethereum/go-ethereum,github.com/regen-network/cosmos-proto,github.com/modern-go/reflect2,golang.org/x/sys/unix,mellium.im/sasl,github.com/klauspost/compress/zstd/internal/xxhash,github.com/mattn/go-sqlite3,github.com/cespare/xxhash/v2,github.com/klauspost/reedsolomon,github.com/klauspost/cpuid/v2,filippo.io/edwards25519/field,github.com/golang/snappy,golang.org/x/crypto/chacha20
